config.h.in~
config.h.in
tags
*.o

doc/FIM.html
src/version.h
Makefile
autom4te.cache/
config.h
config.log
config.status
distros/Makefile
doc/Makefile
doc/doctags
scripts/Makefile
scripts/maintenance/cron-build.sh
scripts/maintenance/cron-rsync.sh
scripts/maintenance/cron-svndump.pl
scripts/maintenance/remote-build.sh
src/Makefile
src/conf.h
src/config.h.in
src/fim
src/lex.yy.cc
src/yacc.output
src/yacc.tab.cpp
src/yacc.tab.hpp
stamp-h1
